/* body {
    font-family: 'Open Sans', 'sans-serif';
} */

/* start da css for da buttons */
.btn {
    border-radius: 5px;
    padding: 0px 25px;
    font-size: 22px;
    text-decoration: none;
    margin: 20px;
    color: #fff;
    position: relative;
    display: inline-block;
    min-height: 55px;
    max-height: 55px;
    line-height: 55px;
    box-sizing: border-box;

    background-color: #ccc;
    box-shadow: 0px 5px 0px 0px #aaa;
}

.btn:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
}

.blue {
    background-color: #55acee;
    box-shadow: 0px 5px 0px 0px #3C93D5;
}

.blue:hover {
    background-color: #6FC6FF;
}

.green {
    background-color: #2ecc71;
    box-shadow: 0px 5px 0px 0px #15B358;
}

.green:hover {
    background-color: #48E68B;
}

.red {
    background-color: #e74c3c;
    box-shadow: 0px 5px 0px 0px #CE3323;
}

.red:hover {
    background-color: #FF6656;
}

.purple {
    background-color: #9b59b6;
    box-shadow: 0px 5px 0px 0px #82409D;
}

.purple:hover {
    background-color: #B573D0;
}

.orange {
    background-color: #e67e22;
    box-shadow: 0px 5px 0px 0px #CD6509;
}

.orange:hover {
    background-color: #FF983C;
}

.yellow {
    background-color: #f1c40f;
    box-shadow: 0px 5px 0px 0px #D8AB00;
}

.yellow:hover {
    background-color: #FFDE29;
}

/* copyright stuffs.. */
p {
    text-align: center;
    color: #55acee;
    padding-top: 20px;
}

body {
    font-family: Helvetica, Arial;
    padding: 50px 80px;
    margin: 0;
    text-align: center;
    background-color: #fff;
    background-image:
        linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
        linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
}

body::before {
    content: "";
    width: 120%;
    height: 10px;
    position: fixed;
    top: -10px;
    left: -10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

#back-button {
    display: none;
    position: fixed;
    top : 16px;
    left: 16px;

    text-shadow  : 0 1px 0 rgba(255,255,255,.7);
    box-shadow   : 2px 2px 7px rgba(0,0,0,.2);
    border-radius: 300px;
    border-width : 4px;
    border-style : solid;
    width      : 30px;
    height     : 30px;
    line-height: 30px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 5px;

    color: rgba(133,32,28,1);
    border-color: rgba(133,32,28,.2);
    background-color: rgba(239,57,50,1);
}
